.sponsor {
    position: absolute;
    bottom: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-self: center;
}

.sponsor img {
    cursor: pointer;
    width: 100px;
}

.sponsor span {
    font-size: 10px;
}